# Project
dist/
coverage/

# IDE
.idea

# OS
.DS_Store

# env
.env
.env.*
!.env.sample

# NODE
node_modules/
npm-debug.log
package.json.lerna_backup
yarn.lock
/lerna-debug.log
/report.*.json
/package-lock.json

