save-exact=true
package-lock=false
unsafe-perm=true
legacy-peer-deps=true

@gemunionstudio:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
